
<section id="solution" class="width-controlled" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10%">
  <div class="text-container" fxFlex="60%">
    <h2 class="sub-title-left">We have a solution</h2>
    <p>We made a mobile app that makes tracking easier then ever before to track and view progress.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur, cum distinctio dolores ea esse exercitationem expedita id illo maxime minima nisi officiis quam quia repudiandae similique, velit, voluptate voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem dicta dignissimos facere fugiat iste, iure magnam molestiae natus nemo neque perspiciatis quae quas quod, reiciendis sequi soluta suscipit! Minus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem exercitationem laboriosam ullam. Fugiat illo neque optio quos. Adipisci animi ea eligendi hic minus nulla, provident, reprehenderit rerum tempora tenetur veniam.</p>
  </div>
  <div class="image-container" fxFlex="40%" fxLayoutAlign="center">
    <img src="../../../assets/iphone-app.jpg" alt="">
  </div>
</section>
