<section id="features">
  <h2 class="sub-title-center">Better Features</h2>

  <div class="width-controlled" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10%">

    <div class="feature" fxFlex="30%">
      <mat-icon>assignment</mat-icon>
      <h3>Design Smarter</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam commodi dicta eveniet iste itaque labore laboriosam laudantium magni maxime nihil nostrum placeat qui quo quos, suscipit tenetur ut!</p>
    </div>

    <div class="feature" fxFlex="30%">
      <mat-icon>flash_on</mat-icon>
      <h3>Log Faster</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam commodi dicta eveniet iste itaque labore laboriosam laudantium magni maxime nihil nostrum placeat qui quo quos, suscipit tenetur ut!</p>
    </div>

    <div class="feature" fxFlex="30%">
      <mat-icon>trending_up</mat-icon>
      <h3>View Progress Simply</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam commodi dicta eveniet iste itaque labore laboriosam laudantium magni maxime nihil nostrum placeat qui quo quos, suscipit tenetur ut!</p>
    </div>

  </div>
</section>
