

<section id="pricing">
  <h2 class="sub-title-center">Simple Pricing</h2>
  <div class="width-controlled" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10%">
    <mat-card class="card left" fxFlex="50%">
      <div class="attention">
        <p> Most Popular</p>
      </div>
      <mat-card-title>Monthly</mat-card-title>
      <mat-card-subtitle>Best for users who are looking to pay a small monthly amount with a minimal impact on their budget.</mat-card-subtitle>
      <p class="price">
        <span class="dollar-amount">$5</span>/ Month
      </p>
      <div
        class="button-row"
        fxLayout="row"
        fxLayoutGap="10%"
        fxLayoutAlign="center"
      >
        <button mat-raised-button routerLink="/coming-soon" class="trial">Try it</button>
        <button mat-raised-button routerLink="/coming-soon" color="primary">Buy it</button>
      </div>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

    <mat-card class="card right" fxFlex="50%">
      <mat-card-title>Yearly</mat-card-title>
      <mat-card-subtitle>Best for users who are looking to save money on their membership and do not mind paying a little more up front.</mat-card-subtitle>
      <p class="price">
        <span class="dollar-amount">$48</span>/ Year
      </p>
      <div
        class="button-row"
        fxLayout="row"
        fxLayoutGap="10%"
        fxLayoutAlign="center"
      >
        <button mat-raised-button routerLink="/coming-soon" class="trial">Try it</button>
        <button mat-raised-button routerLink="/coming-soon" color="primary">Buy it</button>
      </div>
    </mat-card>
  </div>
</section>
