<section id="about" class="alt-section">
  <div class="width-controlled" fxLayout="column" fxLayoutAlign="center">
    <h2 class="sub-title-left">Why Us</h2>
    <p>We know a thing or two about fitness.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolore dolorem enim fugit hic id illo ipsam, itaque labore minus numquam, omnis quasi reiciendis saepe sint vel velit veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iusto libero pariatur quod. Aspernatur dicta hic magni maiores nesciunt possimus praesentium velit voluptatem. Dolore doloremque hic, ipsum officiis ratione repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eius illum incidunt minima odio optio quidem, quos repudiandae! Aperiam consequatur dolores earum eveniet libero maxime mollitia nemo, nesciunt odio qui.</p>
  </div>
</section>
