<section id="footer">
  <div class="width-controlled" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10%">
    <div fxFlex="30%">
      <h3>Sub Title</h3>
      <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    </div>

    <div fxFlex="30%">
      <h3>Sub Title</h3>
      <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    </div>

    <div fxFlex="30%">
      <h3>Sub Title</h3>
      <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    </div>
  </div>

  <div class="width-controlled" fxLayout="row" fxLayoutAlign="center">

    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto consectetur cupiditate id itaque minus nam necessitatibus, non nulla, possimus, qui temporibus vero!
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>


  </div>
</section>
