section {
  color: black;
  margin-top: 50px;
  padding-top:40px;
  padding-bottom: 40px;
  min-height: 50vh;
}

.mat-form-field {
  display: block;
  max-width: 200px;
}

.first {
  margin-right: 20px;
}


.form-container {
  margin-top: 40px;
}



